@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html, body, .app {
  background-color: #fbfbfd;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 500;
  line-height: 1.1;
  overflow-x: hidden !important;
}

hr {
  border-width: 3px;
}

.title{
  font-size: 32pt;
  font-weight: 700;
}

.left {
  text-align: left !important;
}

.title-color {
  /*background-color: rgb(182, 183, 195);
    color: rgb(72, 76, 122);*/
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}


.bold {
    /*color: rgb(72, 76, 122);*/
    font-weight: bold;
}

.text{
}

.image {
  width: 30vw;
  border-radius: 10px;
}
img {
  box-shadow: 0px 0px 20px 8px #050505a3;  
}

.shadow {
  box-shadow: 0px 0px 20px 8px #050505a3;  
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  padding: 0px 10%;
  margin-top: 10px;
}

.h-500 {
  height: 580px;
}

.h-700 {
  height: 600px;
}


.b-20 {
  border-radius: 20px;
}

.w-40 {
  width: 40%!important;
}

.container {
  
}

iframe[seamless] {
  display: block;
}

.white {
  color: white;
}
.container-content {
  /*box-shadow: 0 15px 20px #0505050d;
  border: 1px solid #efefef; */
  margin-left: auto;
  border-radius: 20px;
  margin-top: 10px;
  z-index: 10;
  position: relative;
}

.justify {
  text-align: justify;
}



.background-image {
  background-image: url("./images/2049.jpg");
  background-size: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}






@media (max-width: 800px) {
  .flex {
    flex-direction: column;
  }

  .flex-item {
    width: 100%;
    text-align: center;
  }
  .title {
    font-size: 22pt;
  }

  .h-600, .h-700, .h-500 {
    height: 50vh;
  }

  img {
    max-width: 95vw;
  }

  .image {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .title-color {
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
