@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body, .app {
  background-color: #fbfbfd;
  width: 100vw;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.title{
  font-size: 1.5rem;
  font-weight: 600;
}

.title-color {
  background-color: rgb(182, 183, 195);
    color: rgb(72, 76, 122);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}


.bold {
    color: rgb(72, 76, 122);
    font-weight: bold;
}

.text{
  font-size: 1rem;
}

.image {
  width: 40vw;
  border-radius: 20px;
  box-shadow: 0 15px 20px #05050525;
  border: 1px solid #efefef;
}

.shadow {
  box-shadow: 0 15px 20px #05050525;
  border: 1px solid #efefef;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  width: 50%;
  padding: 2%;
}

.h-500 {
  height: 580px;
}

.h-700 {
  height: 600px;
}


.b-20 {
  border-radius: 20px;
}

.container {
  
}

.container-content {
  box-shadow: 0 15px 20px #0505050d;
  border: 1px solid #efefef;
  margin-left: auto;
  padding: 50px;
  border-radius: 20px;
}

.justify {
  text-align: justify;
}


@media (max-width: 800px) {
  .flex {
    flex-direction: column;
  }

  .flex-item {
    width: 100%;
    text-align: center;
  }

  .h-600, .h-700, .h-500 {
    height: 50vh;
  }

  img {
    max-width: 95vw;
  }

  .image {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .title-color {
    background-color: rgb(182, 183, 195);
      color: rgb(72, 76, 122);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
